/* Bulma import */
/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  width: 100%;
  max-width: 600px;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  color: #444;
}

/* Sección de saldo */
.balance-section {
  text-align: center;
  margin-bottom: 20px;
}

.balance-section h2 {
  font-size: 18px;
  color: #666;
  margin: 0;
}

.balance-value {
  font-size: 36px;
  font-weight: bold;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}

.balance-value small {
  font-size: 18px;
  color: #888;
}

/* Botones de acción */
.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  /* padding: 10px 20px; */
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* Historial de transacciones */
.transactions {
  margin-top: 20px;
}

.transactions h3 {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.transaction-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}




